<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title">calendar LIST</div>
    </div>
    <div class="card-body">
      <!-- FORM FOR NEW calendar ITEMS -->
      <form class="row row-cols-lg-auto g-3 align-items-center" (ngSubmit)="create()">
        <div class="col-12">
          <div class="input-group">
            <input matInput [matDatepicker]="picker" >
            <mat-datepicker-toggle matSuffix [for]="picker" name="NewcalendarDate" [(ngModel)]="newCalendarDate">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!--<input name="NewcalendarDate" type="text" [(ngModel)]="newCalendarDate" class="form-control" placeholder="enter date..." />-->
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <!-- calendar ITEMS LIST -->
      <ul id="calendarList">
        <li *ngFor="let calendarItem of CalendarItems">
          <i class="fa fa-trash-o" (click)="delete(calendarItem.id)"></i> {{ calendarItem.date }}
        </li>
      </ul>
    </div>
  </div>
</div>
